<!--
todo:
-font that makes mm same width as 2 digits

-accept only numbers
-provide feedback to user when he types non allowable symbols

-autofilling?
-ctrl+A kan velge alle input felt? (fungerer bare på første input i native)
-ctrl-C kan kopiere hele dato
-ctrl+V - deactivated

-select all when focusing, instead of changing background color - select()

input logic
- when type 1 digit, set 0 in front (except in year)
- if first digit entered is >3 (for day, and 2 for month),
  set input to be 04 and change focus to next field
- when data is filled, auto switch focus to next input

browser dependant logic:
- background color based on browser or user theme

- -->

<!-- can directive have input parameters?
YES!
  directiveName
  [directiveInputParameterName]="value"
  [dateInputValue]="day" || "month" || "year"

/////
to make template more readable, move what possible inside class
-->


<div class="date-container">
  <input
    #day
    [formControl]="day_value"

    appNumbersOnly
    [dateInputType]="input_day"

    class="date-input-day"
    placeholder="dd"
    maxlength="2"

    (keyup.arrowRight)="chageFocus(month)"
    (focus)="day.select()"

  >
  .
  <input
    #month
    [formControl]="month_value"

    appNumbersOnly
    [dateInputType]="input_month"

    class="date-input-month"
    placeholder="mm"
    maxlength="2"

    (keyup.arrowLeft)="chageFocus(day)"
    (keyup.arrowRight)="chageFocus(year)"
    (focus)="month.select()"
  >
  .
  <input
    #year
    [formControl]="year_value"


    appNumbersOnly
    [dateInputType]="input_year"

    class="date-input-year"
    placeholder="åååå"
    maxlength="4"

    (keyup.arrowLeft)="chageFocus(month)"
    (focus)="year.select()"
  >
</div>

<div>
  <input type="date">
</div>

<mat-card>
  <mat-form-field appearance="fill" class="">
    <input
      matInput
      [formControl]="local_control"
      [matDatepicker]="dp"
    >
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>

</mat-card>
<div>
  <p>control.value{{control.value}}</p>
</div>
